In [32]:
import nltk

In [33]:
nltk.download

In [34]:
import pandas as pd

In [35]:
df = pd.read_csv('dataset/Restaurant_Reviews.txt',sep='\t' )

In [36]:
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [37]:
import string

In [38]:
from nltk.corpus import stopwords
stop_words=stopwords.words('english')
from nltk.stem import PorterStemmer

In [39]:
ps=PorterStemmer()

In [40]:
def clean_text(msg):
    '''
    1:remove punctuation
    2:remove stopwords
    3:steming
    '''
    new_msg=[w for w in msg if w not in string.punctuation]
    new_msg2=''.join(new_msg)
    tmp_list=[]
    for ww in new_msg2.split():        
        if(ww.lower() not in stop_words):
            tmp_list.append(ww.lower())
    new_msg3=' '.join(tmp_list)
    new_msg4=[ps.stem(w) for w in new_msg3.split()]
    return ' '.join(new_msg4)

In [41]:
clean_text('Aditya is going to world tour in 2024!')

'aditya go world tour 2024'

In [42]:
df['Review']=df.Review.apply(clean_text)

In [14]:
df.head()

                                              Review  Liked
0                                     wow love place      1
1                                         crust good      0
2                                 tasti textur nasti      0
3  stop late may bank holiday rick steve recommen...      1
4                            select menu great price      1

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [16]:
cv=CountVectorizer()

In [18]:
sparse_mtr=cv.fit_transform(df.Review)

In [19]:
X=sparse_mtr.toarray()
y=df.Liked

In [20]:
X.shape

(1000, 1630)

In [21]:
from sklearn.naive_bayes import GaussianNB

In [22]:
gnb=GaussianNB()

In [23]:
gnb.fit(X,y)

GaussianNB(priors=None)

In [28]:
test=input('enter msg:')

enter msg:poor quality food

In [29]:
test=clean_text(test)

In [30]:
test_X=cv.transform([test])

In [31]:
gnb.predict(test_X.toarray())

array([0], dtype=int64)